@import "tailwindcss";


@theme {
  --color-primary: #62748e;
  --color-text: #000000;
  --color-bg: #ffffff;
  --color-blur-bg: #e2e8f0;

  --navbar-height: 65.3px;
  --hscreen-full: calc(100vh - var(--navbar-height));
}


* {
  @apply font-sans;
}


@utility text-title {
  @apply text-2xl font-semibold;
}